<title>Socket.IO chat</title>
<ul id="messages"></ul>

<div class="container">

    <!--<div class="buttonTest">
        <button mat-fab color="warn" (click)="socketEmit('user')">USER
        </button>
        <button mat-fab color="warn" (click)="socketEmit('praticien')">PRA.
        </button>
    </div>-->

    <div class="imgDivWait" id="waitingImg" *ngIf='showDivWait && !isPraticien'>
        <img class="imgQueue" src="../../../assets/queue.png" />
        <div class="phrase-attente">
            Vous êtes dans la file d'attente. Un praticien va prochainement se connecter.
        </div>
    </div>

    <div class="imgDivWait" id="waitingImg" *ngIf='showDivWait && isPraticien'>
        <img class="imgQueue" src="../../../assets/psy_attente.jpg" />
        <div class="phrase-attente">
            Vous avez rejoint votre cabinet virtuel, aucun patient n'est actuellement connecté.
        </div>
    </div>

    <div class="imgDivStart" id="startImg" *ngIf='showDivStart'>
        <img class="imgStart" src="../../../assets/start.png" />
        <div class="phrase-demarrage">
            Un praticien vous prend en charge. Vous allez être mis en relation dans quelques instants...
        </div>
    </div>

    <div class="videoCall">
        <video #videostream src="" class="myCam" autoplay="true" [muted]="'muted'" playsinline></video> <!--ma camera-->
        <video #remoteVideo src="" class="remoteVideo" autoplay playsinline></video> <!--camera opposant-->
    </div>

    <div class="buttonControl" *ngIf='showDivStart'>
        <span class="timer" [style.color]="color" >{{this.time}}</span>
        <button *ngIf='!mutedButton' class="muteButtonOff" mat-fab (click)="mute()">
            <i class="fas fa-microphone"></i>
        </button>
        <button *ngIf='mutedButton' class="muteButtonOn" mat-fab (click)="mute()">
            <i class="fas fa-microphone-slash"></i>
        </button>
        <button mat-fab color="warn" (click)="stop()"><i class="fas fa-video-slash"></i>
        </button>
    </div>
    
</div>