.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    video.remoteVideo {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
 }

.myCam {
width: 100px;
position: absolute;
z-index: 2;
top: 15%;
left: 85%;
transform: translate(-50%, -50%);
border-radius: 5px;
}

.buttonTest {
    position: absolute;
    z-index: 2;
}

.buttonControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 2;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px gray;
    padding-right: 20px;
    background: #383951;
    border-radius: 10px;
}

.muteButtonOff{
    margin-right: 5px;
}

.muteButtonOn{
    margin-right: 5px;
}

.imgDivWait{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.imgQueue{
    width: 35%;
}

.phrase-attente{
    text-align: center;
}

.imgDivStart{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.imgStart{
    width: 35%;
}

.phrase-demarrage{
    text-align: center;
}

.timer{
    padding: 10px;
    margin: 20px;
    border: solid 1px;
    border-radius: 5px;
    background-color: white;
}

.muteButtonOff{
    border : solid 1px green;
}

.muteButtonOn{
    border : solid 1px red;
}

@media (max-width: 590px) {
    .myCam {
        top: 10%;
        left: 75%;
    }

    .imgQueue{
        width: 80%;
    }

    .imgStart{
        width: 70%;
    }
}
  
@media (min-width: 768px) {
    .myCam {
        width: 200px;
    }
}

@media (min-width: 1024px) {
    .myCam {
        width: 200px;
    }
}

@media (min-width: 1280px) {
    .myCam {
        width: 200px;
    }
}