<div class="container">
    <div class="titre">
        <div class="text">Demandes d'adhésion</div>
        <div class="filtrer">
            <div class="element-filtre" (click)="updateListeUtilisateurs()" [class.selected]="!statutSelected">Tout</div>
            <div class="element-filtre" *ngFor="let statut of listeStatuts" (click)="updateListeUtilisateurs(statut.value)" [class.selected]="statut.value == statutSelected">
                {{statut.name}}
            </div>
        </div>
    </div>
    <div *ngIf="innerWidth > 1000" class="container-tableau">
        <table class="tableau">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>N° Siret</th>
                <th>N° Adeli</th>
                <th>Statut</th>
            </tr>
            <tr *ngFor="let praticien of listeUtilisateurFiltered">
                <td>{{praticien.nom}}</td>
                <td>{{praticien.prenom}}</td>
                <td>{{praticien.email}}</td>
                <td>{{praticien.tel}}</td>
                <td>{{praticien.adresse}}</td>
                <td>{{praticien.siret}}</td>
                <td>{{praticien.adeli}}</td>
                <td class="limited-width">
                    <select #selectStatut (change)="updatePraticien(praticien.id, selectStatut.value)">
                        <option *ngFor="let statut of listeStatuts"  [value]="statut.value" [selected]="statut.value == praticien.valid" >{{statut.name}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="innerWidth <= 1000" class="container-mobile">
        <div *ngFor="let praticien of listeUtilisateurFiltered" class="each-user-mobile">
            <div class="each-data-mobile nom">
                <div class="titre">Nom :</div>
                <div class="data">{{praticien.nom}}</div>
            </div>
            <div class="each-data-mobile prenom">
                <div class="titre">Prénom :</div>
                <div class="data">{{praticien.prenom}}</div>
            </div>

            <div class="each-data-mobile statut">
                <div class="titre">Statut :</div>
                <div class="data">
                    <select #selectStatut (change)="updatePraticien(praticien.id, selectStatut.value)">
                        <option *ngFor="let statut of listeStatuts"  [value]="statut.value" [selected]="statut.value == praticien.valid" >{{statut.name}}</option>
                    </select>
                </div>
            </div>

            <div *ngIf="praticienOpened == praticien.id" class="each-data-mobile email">
                <div class="titre">Email :</div>
                <div class="data">{{praticien.email}}</div>
            </div>

            <div *ngIf="praticienOpened == praticien.id" class="each-data-mobile tel">
                <div class="titre">Téléphone :</div>
                <div class="data">{{praticien.tel}}</div>
            </div>

            <div *ngIf="praticienOpened == praticien.id" class="each-data-mobile adresse">
                <div class="titre">Adresse :</div>
                <div class="data">{{praticien.adresse}}</div>
            </div>

            <div *ngIf="praticienOpened == praticien.id" class="each-data-mobile siret">
                <div class="titre">N° Siret :</div>
                <div class="data">{{praticien.siret}}</div>
            </div>

            <div *ngIf="praticienOpened == praticien.id" class="each-data-mobile adeli">
                <div class="titre">N° Adeli :</div>
                <div class="data">{{praticien.adeli}}</div>
            </div>


            <div class="logo-ouverture">
                <div *ngIf="praticienOpened == praticien.id" (click)="praticienOpened = 0">
                    <i  class="fas fa-chevron-up"></i>
                </div>
                <div *ngIf="praticienOpened != praticien.id" (click)="praticienOpened = praticien.id">
                    <i  class="fas fa-chevron-down" ></i>
                </div>
            </div>
        </div>
    </div>
</div>