@import "../../../../variables/variables.scss";
@import "../../../../variables/colors.scss";

.container {
    .titre {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
            font-size: 20px;
            font-weight: 600;
        }

        .filtrer {
            display: flex;
            background: $lightergrey;

            .element-filtre {
                padding: 5px 10px;
                cursor: pointer;

                &:hover, &.selected {
                    background: $lightgrey;
                    color: white;
                }
            }
        }
    }

    .container-tableau {
        width: 100%;
        margin-top: 15px;

        .tableau {
            width: 100%;
            border-collapse: collapse;

            th {
                border: thin solid $lightgrey;
                padding: 10px 0;
            }
            td {
                border: thin solid $lightgrey;
                padding: 10px;

                &.limited-width {
                    max-width: 100px;

                    select {
                        max-width: 100px;
                    }
                }

                &.center {
                    text-align: center;
                }

                .pastille-statut {
                    margin: auto;

                    &.red {
                        color: $red;
                    }

                    &.green {
                        color: $green;
                    }

                    &.grey {
                        color: $grey;
                    }

                    &.orange {
                        color: $orange;
                    }
                }
            }
        }
    }

    .container-mobile {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .logo-ouverture {
            font-size: 22px;
            margin-top: 5px;
            text-align: center;
        }

        .each-user-mobile {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            border-radius: 5px;
            padding: 10px;
            font-size: 15px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

            .each-data-mobile {
                display: flex;
                width: 100;
                
                .titre {
                    width: 100px;
                    margin-right: 40px;
                    font-weight: 500;
                }

                &.statut {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
