<div class="psychologuechat-wrapper">
    <div class="psychologuechat-content">
        <app-header></app-header>
        <router-outlet></router-outlet>
    </div>
</div>

<div class="container-cookie">
    <div *ngIf="showCookie" class="cookie-banner">
        <p>Nous utilisons des cookies pour nous permettre de mieux comprendre comment le site est utilisé. En continuant
            à utiliser ce site, vous acceptez cette politique.</p>
        <button (click)="changeCookie(true)" class="close">J'ACCEPTE</button>
    </div>
</div>