@import "../variables/colors.scss";

.cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;

  .close {
    padding: 10px 15px;
    background-color: $green;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
  }
}

.psychologuechat-wrapper {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;

  .psychologuechat-content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
