<div class="container">
    <div class="box">
        <div *ngIf="!showConfirmationMessage" class="retour" [routerLink]='["/login"]'>
            <i class="fas fa-arrow-left"></i> Revenir sur la page de connexion
        </div>

        <div *ngIf="showConfirmationMessage" class="message-confirmation-inscription">
            <i class="far fa-check-circle icon-confirmation"></i>
            <div class="texte-confirmation">Votre compte a bien été créé. Cliquez <a class="lien-perso" [routerLink]='["/login"]'>sur ce lien</a> pour être redirigé vers la page de connexion.</div>
        </div>

        <div class="section">
            <div class="message-information">
                <i class="fas fa-info-circle icon"></i>
                Remplissez ce formulaire si vous êtes praticiens.
                Si vous désirez consulter un practicien, <a class="lien-perso" [routerLink]='["/home"]'>cliquez ici</a>.
            </div>

            <form [formGroup]="registerForm" class="form-connexion" (ngSubmit)="onSubmit()">
                <div class="titre-forms">
                    Vos informations
                </div>
                <label class="label">
                    <input class="input-connexion" type="text" formControlName="nom" placeholder="Votre nom" />
                </label>
                <div class="input-error-msg" *ngIf="f.nom.hasError('required') && f.nom.touched">
                    Le nom est requis.
                </div>

                <label class="label">
                    <input class="input-connexion" type="text" formControlName="prenom" placeholder="Votre prénom" />
                </label>
                <div class="input-error-msg" *ngIf="f.prenom.hasError('required') && f.prenom.touched">
                    Le prénom est requis.
                </div>

                <label class="label">
                    <input class="input-connexion" type="tel" formControlName="tel"
                        placeholder="Numéro de téléphone (fixe ou mobile)" />
                </label>
                <div class="input-error-msg" *ngIf="f.tel.hasError('required') && f.tel.touched">
                    Le numéro de téléphone est requis.
                </div>

                <label class="label">
                    <input id="autocomplete" class="input-connexion" type="text" formControlName="adresse" placeholder="Adresse" />
                </label>
                <div class="input-error-msg" *ngIf="f.adresse.hasError('required') && f.adresse.touched">
                    L'adresse est requise.
                </div>

                <label class="label">
                    <input (keyup)="checkSiretUse($event.target)" class="input-connexion" type="text" formControlName="siret" placeholder="Numéro SIRET"  pattern="[0-9]{14}"/>
                </label>
                <div class="input-error-msg" *ngIf="f.siret.hasError('required') && f.siret.touched">
                    Le numéro SIRET est requis.
                </div>
                <div class="input-error-msg" *ngIf="f.siret.hasError('pattern') && f.siret.touched">
                    Le numéro de SIRET doit contenir 14 chiffres.
                </div>
                <div class="input-error-msg" *ngIf="this.siretUse">
                    Ce numéro de SIRET est déjà utilisé.
                </div>

                <label class="label">
                    <input (keyup)="checkAdeliUse($event.target)"class="input-connexion" type="text" formControlName="adeli" placeholder="Numéro ADELI" pattern="[0-9]{10}"/>
                </label>
                <div class="input-error-msg" *ngIf="f.adeli.hasError('required') && f.adeli.touched">
                    Le numéro Adeli est requis.
                </div>
                <div class="input-error-msg" *ngIf="this.adeliUse">
                    Ce numéro Adeli est déjà utilisé.
                </div>
                <div class="input-error-msg" *ngIf="f.adeli.hasError('pattern') && f.adeli.touched">
                    Le numéro Adeli doit contenir 10 chiffres.
                </div>

                <div class="titre-forms">
                    Vos identifiants
                </div>
                <label class="label">
                    <input
                    (keyup)="checkEmailUse($event.target)"
         class="input-connexion" type="text" formControlName="email" placeholder="Adresse email" />
                </label>
                <div class="input-error-msg" *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
                    Veuillez renseigner une adresse email valide.
                </div>
                <div class="input-error-msg" *ngIf="this.emailUse">
                    Cette adresse email est déjà utilisée.
                </div>
                <div class="input-error-msg" *ngIf="f.email.hasError('required') && f.email.touched">
                    L'email est requis.
                </div>

                <label class="label">
                    <input class="input-connexion" type="password" formControlName="password"
                        placeholder="Mot de passe" (keydown)="getStrengthPassword()" />
                </label>

                <div class="bar-securite-mdp">
                    <div class="one-bar" [class.red]="scorePwd > 0 && scorePwd < 25" [class.orange]="scorePwd >=25 && scorePwd < 50" [class.green]="scorePwd >= 50"></div>
                    <div class="one-bar" [class.orange]="scorePwd >=25 && scorePwd < 50" [class.green]="scorePwd >= 50"></div>
                    <div class="one-bar" [class.green]="scorePwd >= 50"></div>
                </div>

                <label class="label">
                    <input class="input-connexion" type="password" formControlName="passwordConfirm"
                        placeholder="Confirmation du mot de passe" (focusout)="passwordConfirmedEntered = true; checkPwd()"/>
                </label>
                <div class="input-error-msg" *ngIf="errorPwdNonIdentical">
                    Les mots de passe ne sont pas identiques.
                </div>

                <button class="btn-submit-connexion" type="submit" [disabled]="!registerForm.valid || errorPwdNonIdentical || !passwordConfirmedEntered || emailUse || adeliUse || siretUse"
                    [class.disabledBtn]="!registerForm.valid || errorPwdNonIdentical || !passwordConfirmedEntered || loading || emailUse || adeliUse || siretUse">
                        <mat-spinner diameter="23" color="accent" *ngIf="loading"></mat-spinner>
                        <span *ngIf="!loading">CRÉER MON COMPTE</span></button>
            </form>
        </div>
    </div>
</div>