@import "../../../variables/variables.scss";
@import "../../../variables/colors.scss";

.container {
    height: calc(100vh - #{$header-height});
    display: flex;
    justify-content: center;

    .pac-container {
        z-index: 10000;
      }

    .box {
        border-radius: 5px;
        width: 500px;
        padding: 15px;

        .retour {
            font-size: 14px;
            margin-bottom: 5px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .message-confirmation-inscription {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px 10px 10px 0;
            border: 1px solid $green;
            border-radius: 5px;
            margin-bottom: 10px;

            .icon-confirmation {
                font-size: 30px;
                color: $green;
                width: 100px;
            }
        }
        .section {
            box-shadow: 0px 0px 10px rgba(68, 49, 49, 0.3);
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 5px;

            .message-information {
                .icon {
                    font-size: 12px;
                }

                background: $lightergrey;
                box-shadow: 0px 0px 10px rgba(68, 49, 49, 0.3);
                z-index: 1;
                padding: 10px;
                font-size: 14px;
                border-radius: 5px;
            }

            .titre {
                font-size: 22px;
                margin-top: 15px;
                font-weight: 700;
                text-align: center;
            }

            .link-sinscrire {
                margin: 15px 0 10px 0;
                text-align: center;
                font-weight: 700;
                font-size: 22px;
                color: $grey;
                cursor: pointer;
                text-decoration: underline;
            }

            .form-connexion {
                width: 100%;
                display: flex;
                flex-direction: column;

                .titre-forms {
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 20px;
                }
                .label {
                    display: flex;
                    flex-direction: column;

                    .input-connexion {
                        margin-top: 15px;
                        padding: 10px;
                        border: 1px solid $lightgrey;
                        border-radius: 5px;
                    }
                }

                .btn-submit-connexion {
                    margin-top: 15px;
                    border: none;
                    color: white;
                    font-weight: 700;
                    padding: 10px 15px;
                    font-size: 16px;
                    background: rgb(61, 72, 219);
                    background: linear-gradient(90deg, rgb(61, 72, 219) 10%, rgba(255, 86, 212, 1) 100%);
                    box-shadow: 0px 0px 10px rgba(68, 49, 49, 0.3);
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                }

                .disabledBtn {
                    opacity: 0.5;
                }

                .bar-securite-mdp {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5px;
                    width: 100%;

                    .one-bar {
                        height: 5px;
                        width: 33%;
                        background: $lightgrey;

                        &.red {
                            background: $red;
                        }

                        &.orange {
                            background: $orange;
                        }

                        &.green {
                            background: $green;
                        }
                    }
                }
            }
        }
    }
}
