<div *ngIf="!isPraticien && !isWaitingAnswer" >
    <h1 mat-dialog-title>
        Accepter l'appel
    </h1>
   
    <div mat-dialog-content>
        <p>Veuillez accepter l'appel une fois que vous voyez le praticien</p>
    </div>
   
    <div mat-dialog-actions>
        <button mat-raised-button color="" (click)="askPraticien(false)">Non</button>
        <button mat-raised-button color="primary" (click)="askPraticien(true)">Oui</button>
    </div>
</div>

<div *ngIf="!isPraticien && isWaitingAnswer" >
    <h1 mat-dialog-title>
        Veuillez patienter...
    </h1>
   
    <div mat-dialog-content>
        <p>Si vous n'avez pas de réponse merci de <span class="bold">quitter</span>.</p>
    </div>
   
    <div mat-dialog-actions>
        <button mat-raised-button color="" [mat-dialog-close]="false">Quitter</button>
    </div>
</div>

<div *ngIf="isPraticien && !isWaitingAnswer" >
    <h1 mat-dialog-title>
        Accepter l'appel
    </h1>
   
    <div mat-dialog-content>
        <p>Le client a accepté l'appel, merci de confirmer.</p>
    </div>
   
    <div mat-dialog-actions>
        <button mat-raised-button color="" (click)="answerUser(false)">Non</button>
        <button mat-raised-button color="primary" (click)="answerUser(true)">Oui</button>
    </div>
</div>

<div *ngIf="isPraticien && isWaitingAnswer" >
    <h1 mat-dialog-title>
        En attente de la confirmation du client
    </h1>
   
    <div mat-dialog-content>
        <p>Veuillez patienter...</p>
    </div>
   
    <div mat-dialog-actions>
        <button mat-raised-button color="" [mat-dialog-close]="false">Quitter</button>
    </div>
</div>