@import "../../../../variables/colors.scss";
@import "../../../../variables/variables.scss";

:host {
    height: $header-height;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
}

.left {
    margin-top: 20px;
    flex-grow: 1;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    font-size: 2rem;
    margin-left: 50px;

    .logo {
        height: 60px;
        cursor: pointer;
    }
}
.right {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    margin: 27px 50px 0 0;

    .fa-caret-right {
        margin-right: 10px;
    }
    .btn-when-phone {
        display: none;
    }

    .btn-join-visio {
        display: flex;
        align-items: center;
        border: none;
        color: white;
        font-weight: 500;
        padding: 10px 15px;
        font-size: 14px;
        margin-right: 40px;
        background: rgb(61, 72, 219);
        background: linear-gradient(90deg, rgb(61, 72, 219) 10%, rgba(255, 86, 212, 1) 100%);
        border-radius: 5px;
        cursor: pointer;

        .icon-join-visio {
            margin-right: 8px;
        }
    }

    .menu-compte {
        position: relative;

        .log-in {
            margin-left: 8px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
        @media screen and (max-width: 550px) {
            display: none;
        }

        .sous-menu-compte {
            position: absolute;
            background: white;
            z-index: 1;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            margin-top: 10px;

            .element-menu-compte {
                font-size: 12px;
                cursor: pointer;
                padding: 10px 12px 10px 7px;
                width: 100px;
                border-bottom: 1px solid $lightergrey;

                &:hover {
                    background: $verylightgrey;
                }

                &:nth-last-child(1) {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    color: $red;
                    border: none;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .left {
        margin-left: 15px;
    }
    .right {
        margin-right: 15px;
        padding-right: 0;

        .icon-when-pc {
            display: none;
        }
        .btn-when-phone {
            display: flex;

            .icon-when-phone {
                padding: 10px;
                border: 1px solid $lightergrey;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .right {
        .btn-join-visio {
            padding: 10px 25px 10px 30px;
            font-size: 15px;

            .text-btn-join-visio {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 550px) {
    .submenu-phone {
        display: none;
    }
}
.submenu-phone {
    position: absolute;
    right: 25px;
    top: $header-height;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    .sous-menu-phone-compte {
        background: white;

        .element-sous-menu-phone {
            padding: 10px;
            border-bottom: 1px solid $lightergrey;
            cursor: pointer;

            &:hover {
                background: $lightergrey;
            }

            &:nth-last-child(1) {
                color: $red;
            }
        }
    }
}
