<div class="left">
    <img class="logo"
        [src]="innerWidth > 450 ? '../../../../assets/logo.png' : '../../../../assets/logo_minimized.png' "
        [routerLink]='["/home"]' />
</div>

<div *ngIf="!isLoggedIn && !isOnVisioPage" class="right">
    <i class="fas fa-caret-right"></i>
    <a *ngIf="!isOnPraticienPage" [routerLink]='["/praticien"]'>
        <div class="log-in">Vous êtes thérapeute</div>
    </a>
    <a *ngIf="isOnPraticienPage" [routerLink]='["/login"]'>
        <div class="log-in">Se connecter</div>
    </a>
</div>

<div *ngIf="isLoggedIn && !isOnVisioPage" class="right">
    <i class="fas fa-user icon-when-pc" (click)="showMenuCompte = !showMenuCompte"></i>
    <div class="btn-when-phone" (click)="showMenuPhone = !showMenuPhone">
        <i class="fas fa-user icon-when-phone"></i>
    </div>
    
    <div class="menu-compte">
        <div class="log-in" (click)="showMenuCompte = !showMenuCompte">Mon compte</div>
        <div *ngIf="showMenuCompte" class="sous-menu-compte">
            <div class="element-menu-compte" (click)="showMenuCompte = !showMenuCompte" [routerLink]='["/profil"]'>Mon profil</div>
            <div class="element-menu-compte" (click)="showMenuCompte = !showMenuCompte"  [routerLink]='["/historique"]'>Historique</div>
            <div *ngIf="isAdmin()" class="element-menu-compte" (click)="showMenuCompte = !showMenuCompte"  [routerLink]='["/admin"]'>Administration</div>
            <div class="element-menu-compte" (click)="logout();showMenuCompte = !showMenuCompte">Se déconnecter</div>
        </div>
    </div>
</div>

<div class="submenu-phone && !isOnVisioPage">
    <div *ngIf="showMenuPhone" class="sous-menu-phone-compte">
        <div class="element-sous-menu-phone" (click)="showMenuPhone = !showMenuPhone" [routerLink]='["/profil"]'>Mon profil</div>
        <div class="element-sous-menu-phone" (click)="showMenuPhone = !showMenuPhone"  [routerLink]='["/historique"]'>Historique</div>
        <div *ngIf="isAdmin()" class="element-menu-compte" (click)="showMenuPhone = !showMenuPhone"  [routerLink]='["/admin"]'>Administration</div>
        <div class="element-sous-menu-phone" (click)="logout();showMenuPhone = !showMenuPhone">Se déconnecter</div>
    </div>
</div>