@import "../../../../variables/variables.scss";
@import "../../../../variables/colors.scss";

:host {
    width: 100%;
}

.container {
    width: 200px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    
    .element {
        font-size: 15px;
        cursor: pointer;
        padding: 5px;

        &:hover {
            background: $lightergrey;
        }

        &.selected {
            background: $lightergrey;
            font-weight: 500;
        }
    }
}