<div class="container">
    <div class="page first-page">
        <div class="accueil">
            <div class="phrase-accroche">
                Psychologues, complétez votre agenda en téléconsultant sur vos créneaux non
                réservés.
            </div>
            <button *ngIf="!isLoggedIn" class="btn-inscription" (click)=redirectToRegister()>
                JE M'INSCRIS MAINTENANT
            </button>
            <button *ngIf="isLoggedIn && validValue == EStatutPraticien.OK" class="btn-inscription" (click)=redirectToVisio()>
                PRENDRE EN CHARGE UN CLIENT
            </button>
            <button *ngIf="isLoggedIn && validValue != EStatutPraticien.OK" class="btn-attente" disabled>
                VOTRE COMPTE EST EN COURS DE VERIFICATION
            </button>
        </div>

        <img class="img-accueil" src="../../../assets/image_accueil.png" />
    </div>
    <div class="page second-page">
        <div class="page-header">
            <div class="titre">Cette plateforme est exclusivement réservée aux psychologues cliniciens.</div>
        </div>
        <div class="why-section green">
            <div class="header-section">
                <div class="icon">
                    <i class="fas fa-graduation-cap green"></i>
                </div>
                <div class="title">
                    Informations nécessaires
                </div>
            </div>
            <div class="desc-header">
                Il sera nécessaire de se justifier :
                <ul>
                    <li>D'un master de psychologie (niveau BAC+5) ou du suivi et de la validation de la formations d'une
                        de ces 2 écoles :
                        <ul class="liste-ecoles">
                            <li>L'école des psychologues praticiens (EPP) à Lyon et Paris.</li>
                            <li>Le Cnam à Paris et en région, orientation Psychologie du travail.</li>
                        </ul>
                    </li>
                    <li>Vous serez dans l'obligation de fournir votre <a style="font-weight: bold;">N° SIRET</a> et <a
                            style="font-weight: bold;">N° ADELI</a> lors de votre inscription.</li>
                </ul>
            </div>
            <div class="container-btn-inscription" *ngIf="!isLoggedIn">
                <div class="btn-inscription" (click)="redirectToRegister()">
                    JE M'INSCRIS
                </div>
            </div>
        </div>
    </div>
    <div class="page third-page">
        <i class="fas fa-arrow-alt-circle-left arrow-left"></i>
        <div class="gold-book">
            <img class="img-gold-book" src="../../../assets/girl-gold-book.png" alt="pic-golden-book" />
            <div class="temoignage">
                <div class="texte-temoignage">
                    Dès le premier mois, j'ai perçu 192€ en effectuant 3 séances sur Psychologue.chat.
                    Au top :)
                </div>
                <div class="desc-personne">
                    <span class="nom-prenom">Marta Rodrigues. </span>
                    <span class="metier">Landes (40).</span>
                </div>
                <i class="fas fa-quote-right"></i>
                <i class="fas fa-quote-left"></i>
            </div>
        </div>
        <i class="fas fa-arrow-alt-circle-right arrow-right"></i>
    </div>

    <div class="page fourth-page">
        <div class="section">
            <div class="titre">Remplissez vos créneaux libres !</div>
            <div class="desc-section">Il arrive que certains horaires soient moins prisés par vos clients (en milieu
                d'après-midi par exemple).
                La téléconsultation vous permet de remplir ces créneaux.
            </div>
            <i class="far fa-calendar-check icon"></i>
            <div class="container-btn-inscription" *ngIf="!isLoggedIn">
                <div class="btn-inscription">
                    JE M'INSCRIS
                </div>
            </div>
        </div>
        <div class="section">
            <div class="titre">Rentabilisez vos annulations de dernière minute</div>
            <div class="desc-section">
                Gagnez de l'argent même lors de l'annulation de dernière minute d'un patient en switchant instantanément
                sur Psychologue.chat.
            </div>
            <i class="far fa-times-circle icon"></i>
            <div class="container-btn-inscription" *ngIf="!isLoggedIn">
                <div class="btn-inscription">
                    JE M'INSCRIS
                </div>
            </div>
        </div>
        <div class="section">
            <div class="titre">Téléconsulter partout, tout le temps</div>
            <div class="desc-section">
                Psychologue.chat est une solution innovante qui vous apporte liberté et flexibilité. Elle vous permet de
                travailler sans RDV où que vous soyez :
                à votre cabinet, chez vous ou à l'autre bout du monde (même si en ce moment c'est compliqué)
            </div>
            <i class="fas fa-umbrella-beach icon"></i>
            <div class="container-btn-inscription" *ngIf="!isLoggedIn">
                <div class="btn-inscription">
                    JE M'INSCRIS
                </div>
            </div>
        </div>
        <div class="section">
            <div class="titre">Voyez plus large</div>
            <div class="desc-section">
                Prospectez plus largement en offrant vos compétences en ligne à ceux qui n'arrivent pas à obtenir un RDV rapide avec vos collèges des grandes villes.
            </div>
            <i class="fas fa-search icon"></i>
            <div class="container-btn-inscription" *ngIf="!isLoggedIn">
                <div class="btn-inscription">
                    JE M'INSCRIS
                </div>
            </div>
        </div>
        <div class="section">
            <div class="titre">Quelle prestation ? Quel prix ?</div>
            <div class="desc-section">
                Chaque consultation dure entre 45 min et 1h. Le prix de la séance est fixé à 80€. Comme toutes les
                plateformes de service (Blablacar par exemple),
                les frais de plateforme s'élèvent à 20% soit 16€. 64€ par séance effectuée vous seront reversés le 15 de
                chaque mois.
            </div>
            <i class="fas fa-chalkboard-teacher icon"></i>
            <div class="container-btn-inscription" *ngIf="!isLoggedIn">
                <div class="btn-inscription">
                    JE M'INSCRIS
                </div>
            </div>
        </div>
    </div>

    <div class="page fifth-page">
        <div class="why-section green">
            <div class="header-section">
                <div class="icon">
                    <i class="far fa-credit-card green"></i>
                </div>
                <div class="title">
                    Offres d'abonnement
                </div>
            </div>
            <div class="desc-header">
                <ul>
                    <li>550€ à vie. Offre de lancement jusqu'au 29/09/21</li>
                    <li>10€/mois au lieu de 20€/mois jusqu'au 29/09/21</li>
                    <li>100€/an au lieu de 200€/an jusqu'au 29/09/21</li>
                </ul>
            </div>
            <div class="container-btn-inscription" *ngIf="!isLoggedIn">
                <div class="btn-inscription" (click)="redirectToRegister()">
                    JE M'INSCRIS MAINTENANT
                </div>
            </div>
        </div>
    </div>
</div>