@import "../../../variables/variables.scss";
@import "../../../variables/colors.scss";

@media screen and (max-width: 1400px) {
    .temoignage {
        border-image: none !important;
    }
}

.container {
    width: 100%;
    margin-top: calc(#{$header-height} + 10vh);

    .page {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 150px;

        &.first-page {
            margin: -#{$header-height} 50px 0 50px;
            display: flex;
            justify-content: space-evenly;

            .accueil {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 600px;

                .phrase-accroche {
                    text-align: center;
                    font-size: 40px;
                    font-weight: 600;
                }

                a {
                    display: block;
                }

                .phrase2 {
                    width: 900px;
                }

                @media screen and (max-width: 1300px) {
                    .phrase-accroche {
                        text-align: center;
                        font-size: 30px;
                    }
                    .phrase2 {
                        width: 600px;
                    }
                }

                .btn-inscription {
                    border: none;
                    margin-top: 30px;
                    color: white;
                    font-weight: 500;
                    padding: 20px 30px;
                    font-size: 22px;
                    background: rgb(61, 72, 219);
                    background: linear-gradient(90deg, rgba(61, 72, 219, 1) 10%, rgba(255, 86, 212, 1) 100%);
                    border-radius: 5px;
                    cursor: pointer;
                }
                .btn-attente{
                    border: solid red 1px;
                    margin-top: 30px;
                    color: black;
                    font-weight: 500;
                    padding: 20px 30px;
                    font-size: 22px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
            .img-accueil {
                width: 35%;
            }
        }

        @media screen and (max-width: 1100px) {
            &.first-page {
                .accueil {
                    .phrase-accroche {
                        text-align: center;
                        font-size: 30px;
                    }
                    .phrase2 {
                        width: 500px;
                    }
                    .btn-inscription {
                        font-size: 25px;
                    }
                }
                .img-accueil {
                    display: none;
                }
            }
        }

        &.second-page,
        &.fifth-page {
            display: flex;
            flex-direction: column;

            li {
                line-height: 50px;
            }

            .page-header {
                padding-bottom: 40px;
                flex-direction: column;
                text-align: center;
                width: 60%;
                padding-top: 30px;

                .titre {
                    font-size: 30px;
                    font-weight: 500;
                }
                .phrase {
                    margin-top: 10px;
                    font-size: 20px;
                }
            }

            .why-section {
                width: 70%;
                margin-bottom: 40px;
                padding: 5px 20px 20px 20px;
                border: 2px solid $lightgreen;
                position: relative;
                border-radius: 15px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

                &.green {
                    border: $lightgreen 2px solid;
                }

                .container-btn-inscription {
                    bottom: -20px;
                    right: 15px;
                    position: absolute;
                    display: flex;

                    .btn-inscription {
                        border: none;
                        color: white;
                        font-weight: 500;
                        padding: 10px 15px;
                        font-size: 14px;
                        background: rgb(61, 72, 219);
                        background: linear-gradient(90deg, rgb(61, 72, 219) 10%, rgba(255, 86, 212, 1) 100%);
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    &::before {
                        content: " ";
                        width: 10px;
                        background: white;
                        color: white;
                    }
                    &::after {
                        content: " ";
                        width: 10px;
                        background: white;
                        color: white;
                    }
                }

                .header-section {
                    font-size: 30px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    padding: 10px 0;

                    .icon {
                        margin-right: 15px;

                        .green {
                            color: $lightgreen;
                        }
                    }
                }
                .desc-header {
                    margin-top: 10px;
                    font-size: 20px;
                }
            }
        }
        &.third-page {
            display: flex;
            justify-content: space-around;
            padding-bottom: 150px;
            
            .arrow-left,
            .arrow-right {
                color: $grey;
                font-size: 100px;
                text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
            }

            .gold-book {
                width: 800px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .img-gold-book {
                    border-radius: 50%;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                    width: 300px;
                    margin-bottom: -40px;
                    z-index: 1;
                }

                .temoignage {
                    padding: 60px 40px 40px 40px;
                    border: 5px solid;
                    border-image: linear-gradient(45deg, rgba(61, 72, 219), rgba(255, 86, 212)) 0.5;
                    font-size: 18px;
                    position: relative;

                    .desc-personne {
                        margin-top: 20px;
                        font-style: italic;

                        .nom-prenom {
                            font-weight: 700;
                        }
                    }

                    .fa-quote-right {
                        position: absolute;
                        background: white;
                        padding: 10px;
                        font-size: 56px;
                        bottom: -28px;
                        right: -28px;
                    }

                    .fa-quote-left {
                        position: absolute;
                        background: white;
                        padding: 10px;
                        font-size: 56px;
                        top: -28px;
                        left: -28px;
                    }
                }
            }
        }
        &.fourth-page {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .section {
                width: 60%;
                border: 4px solid #e4e7ec;
                padding: 15px;
                position: relative;
                border-radius: 5px;
                margin-bottom: 30px;

                .container-btn-inscription {
                    bottom: -20px;
                    right: 15px;
                    position: absolute;
                    display: flex;

                    .btn-inscription {
                        border: none;
                        color: white;
                        font-weight: 500;
                        padding: 10px 15px;
                        font-size: 14px;
                        background: rgb(61, 72, 219);
                        background: linear-gradient(90deg, rgba(61, 72, 219, 1) 10%, rgba(255, 86, 212, 1) 100%);
                        border-radius: 5px;
                    }

                    &::before {
                        content: " ";
                        width: 10px;
                        background: white;
                        color: white;
                    }
                    &::after {
                        content: " ";
                        width: 10px;
                        background: white;
                        color: white;
                    }
                }
                .titre {
                    text-align: center;
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                .desc-section {
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                .icon {
                    color: $lightpurple;
                    position: absolute;
                    font-size: 40px;
                    left: -25px;
                    top: -25px;
                    padding: 5px;
                    background: white;
                }
            }
        }
        &.fifth-page {
            margin-bottom: 100px;
        }
    }

    @media screen and (max-width: 1000px) {
        .page {
            &.first-page {
                .accueil {
                    text-align: center !important;
                }
                .phrase-accroche {
                    font-size: 30px;
                }
                .btn-inscription {
                    font-size: 18px;
                }
            }
            &.second-page,
            &.fifth-page {
                .page-header {
                    .titre {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .phrase {
                        margin-top: 10px;
                        font-size: 15px;
                    }
                }

                .why-section {
                    .header-section {
                        font-size: 20px;
                    }
                    .desc-header {
                        font-size: 15px;
                    }
                }
            }
            &.third-page {
                .arrow-left,
                .arrow-right {
                    font-size: 50px;
                }

                .gold-book {
                    width: 350px;

                    .img-gold-book {
                        width: 200px;
                    }

                    .temoignage {
                        font-size: 16px;

                        .fa-quote-right {
                            padding: 5px;
                            font-size: 30px;
                            bottom: -15px;
                            right: -15px;
                        }

                        .fa-quote-left {
                            padding: 5px;
                            font-size: 30px;
                            top: -15px;
                            left: -15px;
                        }
                    }
                }
            }

            &.fourth-page {
                .section {
                    .container-btn-inscription {
                        .btn-inscription {
                            font-size: 12px;
                        }
                    }
                    .titre {
                        text-align: center;
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                    .desc-section {
                        font-size: 14px;
                    }
                    .icon {
                        font-size: 30px;
                        left: -18px;
                        top: -18px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 550px) {
        .page {
            &.first-page {
                .phrase-accroche {
                    width: 300px;
                    text-align: center;
                    font-size: 20px;
                }

                .btn-inscription {
                    font-size: 2px;
                }
            }
            &.second-page {
                .page-header {
                    .titre {
                        font-size: 15px;
                    }
                    .phrase {
                        font-size: 12px;
                    }
                }
                .why-section {
                    .desc-header {
                        .liste-ecoles {
                            display: none;
                        }
                    }

                    .container-btn-inscription {
                        bottom: -20px;
                        right: 15px;
                        position: absolute;
                        display: flex;

                        .btn-inscription {
                            border: none;
                            color: white;
                            font-weight: 500;
                            padding: 10px 15px;
                            font-size: 12px;
                        }
                    }

                    .header-section {
                        font-size: 15px;
                    }
                    .desc-header {
                        font-size: 12px;
                    }
                }
            }
            &.third-page {
                margin-bottom: 100px;

                .arrow-left,
                .arrow-right {
                    font-size: 40px;
                }

                .gold-book {
                    width: 250px;

                    .img-gold-book {
                        width: 150px;
                    }

                    .temoignage {
                        font-size: 14px;
                        padding: 40px 20px 20px 20px;

                        .fa-quote-right {
                            padding: 5px;
                            font-size: 30px;
                            bottom: -15px;
                            right: -15px;
                        }

                        .fa-quote-left {
                            padding: 5px;
                            font-size: 30px;
                            top: -15px;
                            left: -15px;
                        }
                    }
                }
            }
            &.fourth-page {
                .section {
                    margin: 20px 0;
                    .container-btn-inscription {
                        .btn-inscription {
                            font-size: 10px;
                        }
                    }
                    .titre {
                        text-align: center;
                        font-size: 15px;
                        margin-bottom: 15px;
                    }
                    .desc-section {
                        font-size: 12px;
                    }
                    .icon {
                        font-size: 20px;
                        left: -12px;
                        top: -12px;
                    }
 
                }
            }

            &.fifth-page {
                margin-top: 100px
                ;
            }
        }
    }
}
