<div>
    <h1 mat-dialog-title>
        Confirmation de mise à jour du profil
    </h1>
   
    <div mat-dialog-content>
        <p>Votre profil a bien été modifié.</p>
    </div>
   
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onConfirm()">OK</button>
    </div>
</div>