@import "../../../variables/variables.scss";
@import "../../../variables/colors.scss";

.mat-raised-button {
    border: none;
    margin-top: 30px !important;
    color: $white;
    font-weight: 500;
    padding: 0px 30px;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.pop-up {
    background-color: white !important;
}