
<head>
 
  
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
    
  </head>
  
  <body>
  
    <section class="page_404">
      <div class="container">
          <div class="row">	
          <div class="col-sm-12 ">
          <div class="col-sm-10 col-sm-offset-1  text-center">
          <div class="four_zero_four_bg">
              <h1 class="text-center ">Erreur</h1>
          
          
          </div>
          
          <div class="contant_box_404">
          <h3 class="h2">
          La tentative de paiement a échoué
          </h3>
          
          <p>veuillez réessayer !</p>
          
          <a routerLink="/paiement-abonnement" routerLinkActive="active" class="link_404">Retour à page des paiements</a>
      </div>
          </div>
          </div>
          </div>
      </div>
  </section>
  
  