<div class="container">
    <div class="error-code">404</div>
    <div class="explications">
        Fausse route ! Cette page n'existe pas !
    </div>
    <div class="button-home">
        <button class="btn-home" (click)="redirectToHome()">
            RETOUR A LA PAGE D'ACCUEIL
        </button>
    </div>
</div>