@import "../../../variables/variables.scss";
@import "../../../variables/colors.scss";

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .error-code {
        font-size: 100px;
    }

    .explications {
        font-size: 30px;
    }

    .btn-home {
        border: none;
        margin-top: 30px;
        color: white;
        font-weight: 500;
        padding: 20px 30px;
        font-size: 22px;
        background: rgb(61, 72, 219);
        background: linear-gradient(90deg, rgba(61, 72, 219, 1) 10%, rgba(255, 86, 212, 1) 100%);
        border-radius: 5px;
    }
}