<div class="container">
    <div class="box">

        <div class="section">

            <div *ngIf="!showConfirmationMessage" class="message-information">
                <i class="fas fa-info-circle icon"></i>
                Entrez un nouveau mot de passe
            </div>

            <div *ngIf="showConfirmationMessage" class="message-confirmation-inscription">
                <i class="far fa-check-circle icon-confirmation"></i>
                <div class="texte-confirmation">Votre mot de passe a bien été modifié. Cliquez <a [routerLink]='["/login"]'>sur ce lien</a> pour être redirigé vers la page de connexion.</div>
            </div>

            <form [formGroup]="newPasswordForm" class="form-connexion" (ngSubmit)="onSubmit()">
                <div class="titre-forms">
                    Vos informations
                </div>

                <label class="label">
                    <input class="input-connexion" type="password" formControlName="password" placeholder="Mot de passe"
                        (keydown)="getStrengthPassword()" />
                </label>

                <div class="bar-securite-mdp">
                    <div class="one-bar" [class.red]="scorePwd > 0 && scorePwd < 25"
                        [class.orange]="scorePwd >=25 && scorePwd < 50" [class.green]="scorePwd >= 50"></div>
                    <div class="one-bar" [class.orange]="scorePwd >=25 && scorePwd < 50" [class.green]="scorePwd >= 50">
                    </div>
                    <div class="one-bar" [class.green]="scorePwd >= 50"></div>
                </div>

                <label class="label">
                    <input class="input-connexion" type="password" formControlName="passwordConfirm"
                        placeholder="Confirmation du mot de passe" (focusout)="passwordConfirmedEntered = true; checkPwd()"
                        (focusout)="checkPwd()" />
                </label>
                <div class="input-error-msg" *ngIf="errorPwdNonIdentical">
                    Les mots de passe ne sont pas identiques.
                </div>
                <div class="input-error-msg" *ngIf="messageError">
                  {{ messageError }}
                </div>

                <button class="btn-submit-connexion" type="submit"
                    [disabled]="!newPasswordForm.valid || errorPwdNonIdentical || !passwordConfirmedEntered"
                    [class.disabledBtn]="!newPasswordForm.valid || errorPwdNonIdentical || !passwordConfirmedEntered || loading">
                    <mat-spinner diameter="23" color="accent" *ngIf="loading"></mat-spinner>
                    <span *ngIf="!loading">CHANGER MON MOT DE PASSE</span>
                </button>
            </form>
        </div>
    </div>
</div>