
  <div class="main-content" *ngIf="this.praticien"> 
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Bonjour {{praticien.prenom}}</h1>
            <p class="text-white mt-0 mb-5">Ceci est votre profil. Vous pouvez y modifier vos informations personnelles à tout moment.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                    <img src="../../../assets/blank-profile.png" class="rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{nbConsultation}}</span>
                      <span class="description">Consultation(s) effectuée(s)</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{praticien.prenom}} {{praticien.nom}}
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i> {{praticien.adresse}}
                </div>
              </div>
              <button id="btn-historic" (click)="redirectToHistoric()">
                MON HISTORIQUE
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Mon profil</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <h6 class="heading-small text-muted mb-4">Informations personnelles</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Prénom</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" formControlName="prenom">
                      </div>

                      <div *ngIf="checkoutForm.controls['prenom'].invalid && (checkoutForm.controls['prenom'].dirty || checkoutForm.controls['prenom'].touched)" class="alert">
                        <div *ngIf="checkoutForm.controls['prenom'].errors.required">
                        Veuillez entrer votre prénom
                        </div>
                      </div>

                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">E-mail</label>
                        <div class="form-control form-control-alternative grey">{{praticien.email}}</div>
                      </div>

                      <div *ngIf="checkoutForm.controls['email'].invalid && (checkoutForm.controls['email'].dirty || checkoutForm.controls['email'].touched)" class="alert">
                        <div *ngIf="checkoutForm.controls['email'].errors.required">
                        Veuillez entrer votre email
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Nom</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" formControlName="nom">
                      </div>

                      <div *ngIf="checkoutForm.controls['nom'].invalid && (checkoutForm.controls['nom'].dirty || checkoutForm.controls['nom'].touched)" class="alert">
                        <div *ngIf="checkoutForm.controls['nom'].errors.required">
                        Veuillez entrer votre nom
                        </div>
                      </div>

                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-siret">N° SIRET</label>
                        <input type="text" id="input-siret" class="form-control form-control-alternative" formControlName="siret" pattern="[0-9]{14}">
                        </div><div class="input-error-msg" *ngIf="f.siret.hasError('pattern') && f.siret.touched">
                          Le numéro de SIRET doit contenir 14 chiffres.
                      </div>
                      
                      
                      <div *ngIf="checkoutForm.controls['siret'].invalid && (checkoutForm.controls['siret'].dirty || checkoutForm.controls['siret'].touched)" class="alert">
                        <div *ngIf="checkoutForm.controls['siret'].errors.required">
                        Veuillez entrer votre N° SIRET
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">

                      <div class="form-group focused">
                        <label class="form-control-label" for="input-adeli">N° ADELI</label>
                        <input type="text" id="input-adeli" class="form-control form-control-alternative" formControlName="adeli" pattern="[0-9]{10}">
                      </div>
                      <div class="input-error-msg" *ngIf="f.adeli.hasError('pattern') && f.adeli.touched">
                        Le numéro Adeli doit contenir 10 chiffres.
                    </div>

                      <div *ngIf="checkoutForm.controls['adeli'].invalid && (checkoutForm.controls['adeli'].dirty || checkoutForm.controls['adeli'].touched)" class="alert">
                        <div *ngIf="checkoutForm.controls['adeli'].errors.required">
                        Veuillez entrer votre N° ADELI
                        </div>
                      </div>

                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-phone">N° de téléphone</label>
                        <input type="text" id="input-phone" class="form-control form-control-alternative" formControlName="tel">
                      </div>

                      <div *ngIf="checkoutForm.controls['tel'].invalid && (checkoutForm.controls['tel'].dirty || checkoutForm.controls['tel'].touched)" class="alert">
                        <div *ngIf="checkoutForm.controls['tel'].errors.required">
                        Veuillez entrer votre N° Téléphone
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- ??? -->
                  <div class="row" *ngIf="this.praticien.valid == 1">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label">Etat du compte</label>
                        <p class="etat" id="statutEnAtttente">En attente</p>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="this.praticien.valid == 2">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label">Etat du compte</label>
                        <p class="etat" id="statutManqueInfo">Manque d'informations</p>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="this.praticien.valid == 3">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label">Etat du compte</label>
                        <p class="etat" id="statutRefuse">Refusé</p>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="this.praticien.valid == 4">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label">Etat du compte</label>
                        <p class="etat" id="statutValid">Validé</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Adresse -->
                <h6 class="heading-small text-muted mb-4">Votre adresse</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Adresse</label>
                        <input id="autocomplete" class="form-control form-control-alternative" formControlName="adresse" type="text"> 
                      </div>

                      <div *ngIf="checkoutForm.controls['adresse'].invalid && (checkoutForm.controls['adresse'].dirty || checkoutForm.controls['adresse'].touched)" class="alert">
                        <div *ngIf="checkoutForm.controls['adresse'].errors.required">
                        Veuillez entrer votre adresse
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <button id="btn-validate" type="submit" (click)="confirmDialog()" [disabled]="!checkoutForm.valid || !checkoutForm.dirty" [class.disabledBtn]="!checkoutForm.valid"> 
                  VALIDER
                </button>
                <hr class="my-4">
                <h6 class="heading-small text-muted mb-4">Votre abonnement</h6>
                <div class="pl-lg-4" *ngIf="this.hasSubscribe">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label">Date de dernière adhésion</label>
                        <p class="date">{{dateDebut}}</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Date de fin d'abonnement</label>
                        <p class="date green" *ngIf="this.subscriptionEnded == 4">{{dateFin}}</p>
                        <p class="date green" *ngIf="this.subscriptionEnded == 3">Abonnement à vie</p>
                        <p class="date orange" *ngIf="this.subscriptionEnded == 2">{{dateFin}}</p>
                        <p class="date red" *ngIf="this.subscriptionEnded == 1">{{dateFin}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!this.hasSubscribe">
                  <p class="form-control-label">Aucun abonnement souscrit</p>
                </div>     
                <button id="btn-subscribe" (click)="redirectToPaiement()" *ngIf="this.hasSubscribe">
                  PROLONGER VOTRE ABONNEMENT
                </button>
                <button id="btn-subscribe" (click)="redirectToPaiement()" *ngIf="!this.hasSubscribe">
                  S'ABONNER
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
