@import "../../../variables/variables.scss";
@import "../../../variables/colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.material-icons {
  vertical-align: middle;
  margin: 0.3rem;
  display: inline-block;
}

.pac-container {
  z-index: 10000;
}

h1,
h3,
h4,
h5,
h6 {
  margin-top: 0rem;
  margin-bottom: .5rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

h1,
h3,
h4,
h5,
h6,
.h1,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
  color: $bluedark2;
}

h1,
.h1 {
  font-size: 1.625rem;
}

h3,
.h3 {
  font-size: 1.0625rem;
}

h4,
.h4 {
  font-size: .9375rem;
}

h5,
.h5 {
  font-size: .8125rem;
  margin-left: -10px;
}

h6,
.h6 {
  font-size: .625rem;
}

.display-2 {
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.5;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid $lightergrey;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

.col-4,
.col-8,
.col,
.col-md-10,
.col-md-12,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-7,
.col-xl-4,
.col-xl-6,
.col-xl-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


@media (min-width: 992px) {

  .col-lg-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .col-lg-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }

  .col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .col-lg-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
  }

  .order-lg-2 {
    order: 2;
  }
}

@media (min-width: 1200px) {

  .col-xl-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }

  .col-xl-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .col-xl-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }
}

.form-control {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: .625rem .75rem;
  transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
  color: $lightblue;
  border: 1px solid $lightergrey;
  border-radius: .375rem;
  background-color: $white;
  background-clip: padding-box;
  box-shadow: none;
}

.form-control:focus {
  color: $lightblue;
  border-color: $borderblue;
  outline: 0;
  background-color: $white;
  box-shadow: none, none;
}

.form-control:-ms-input-placeholder {
  opacity: 1;
  color: $lightblue;
}

.form-control::-ms-input-placeholder {
  opacity: 1;
  color: $lightblue;
}

.form-control::placeholder {
  opacity: 1;
  color: $lightblue;
}

.form-control:disabled,
.form-control[readonly] {
  opacity: 1;
  background-color: $lightergrey;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid $almostblack;
  border-radius: .375rem;
  background-color: $white;
  background-clip: border-box;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid $almostblack;
  background-color: $white;
}

.card-header:first-child {
  border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
}

.bg-secondary {
  background-color: $mostlightgrey !important;
}

.bg-white {
  background-color:$white !important;
}

.bg-white {
  background-color:$white !important;
}

.border-0 {
  border: 0 !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 768px) {

  .d-md-flex {
    display: flex !important;
  }
}

@media (min-width: 992px) {

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

@media (min-width: 1200px) {

  .justify-content-xl-between {
    justify-content: space-between !important;
  }
}

.float-right {
  float: right !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.ml-2 {
  margin-left: .5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mt--7 {
  margin-top: -6rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.m-auto {
  margin: auto !important;
}

@media (min-width: 768px) {

  .mt-md-5 {
    margin-top: 3rem !important;
  }

  .pt-md-4 {
    padding-top: 1.5rem !important;
  }

  .pb-md-4 {
    padding-bottom: 1.5rem !important;
  }
}

@media (max-width: 768px) {

  .mt-md-5 {
    margin-top: 3rem !important;
  }

  .pt-md-4 {
    padding-top: 1.5rem !important;
  }

  .pb-md-4 {
    padding-bottom: 1.5rem !important;
  }
}

@media (min-width: 992px) {

  .pl-lg-4 {
    padding-left: 1.5rem !important;
  }

  .pt-lg-8 {
    padding-top: 8rem !important;
  }

  .ml-lg-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {

  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.text-white {
  color:$white !important;
}

.text-white {
  color:$white !important;
}

a.text-white:hover,
a.text-white:focus {
  color: $white !important;
}

.text-muted {
  color: $lightblue !important;
}

.bg-white {
  background-color:$white !important;
}

.bg-gradient-default {
  background: linear-gradient(90deg, rgba(61, 72, 219, 1) 10%, rgba(255, 86, 212, 1) 100%);
}

.opacity-8 {
  opacity: .8 !important;
}

.opacity-8 {
  opacity: .9 !important;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

[class*='shadow'] {
  transition: all .15s ease;
}

.date {
  font-weight: bold;
  font-size: 1rem;

  &.red {
    color: $red;
  }

  &.green {
    color: $valid;
  }

  &.orange {
    color: $waiting;
  }
  
}

.font-weight-300 {
  font-weight: 300 !important;
}

.text-sm {
  font-size: .875rem !important;
}

.text-white {
  color:$white !important;
}

a.text-white:hover,
a.text-white:focus {
  color: $white !important;
}

.card-profile-image {
  position: relative;
}

.card-profile-image img {
  position: absolute;
  left: 50%;
  max-width: 180px;
  transition: all .15s ease;
  transform: translate(-50%, -30%);
  border-radius: .375rem;
}

.card-profile-image img:hover {
  transform: translate(-50%, -33%);
}

.card-profile-stats {
  padding: 1rem 0;
}

.card-profile-stats>div {
  margin-right: 1rem;
  padding: .875rem;
  text-align: center;
  margin-top: 3rem;
}

.card-profile-stats>div:last-child {
  margin-right: 0;
}

.card-profile-stats>div .heading {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}

.card-profile-stats>div .description {
  font-size: .875rem;
  color: $lightblue;
}

.main-content {
  position: relative;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .main-content .container-fluid {
    padding-right: 39px !important;
    padding-left: 39px !important;
  }
}

.form-control-label {
  font-size: .875rem;
  font-weight: 600;
  color: $bluedark2;
}

.form-control {
  font-size: .875rem;
}

.form-control:focus:-ms-input-placeholder {
  color: $lightblue;
}

.form-control:focus::-ms-input-placeholder {
  color: $lightblue;
}

.form-control:focus::placeholder {
  color: $lightblue;
}

textarea[resize='none'] {
  resize: none !important;
}

textarea[resize='both'] {
  resize: both !important;
}

textarea[resize='vertical'] {
  resize: vertical !important;
}

textarea[resize='horizontal'] {
  resize: horizontal !important;
}

.form-control-alternative {
  transition: box-shadow .15s ease;
  border: 0;
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 $almostblack;
  &.grey {
    background: $almostblack;
  }
}

.form-control-alternative:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px $almostblack;
}

.input-group {
  transition: all .15s ease;
  border-radius: .375rem;
  box-shadow: none;
}

.input-group .form-control {
  box-shadow: none;
}

.input-group .form-control:not(:first-child) {
  padding-left: 0;
  border-left: 0;
}

.input-group .form-control:not(:last-child) {
  padding-right: 0;
  border-right: 0;
}

.input-group .form-control:focus {
  box-shadow: none;
}

.input-group-text {
  transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}

.input-group-alternative {
  transition: box-shadow .15s ease;
  border: 0;
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 $almostblack;
}

.input-group-alternative .form-control,
.input-group-alternative .input-group-text {
  border: 0;
  box-shadow: none;
}

.focused .input-group-alternative {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px $almostblack !important;
}

.focused .input-group {
  box-shadow: none;
}

.focused .input-group-text {
  color: $lightblue;
  border-color: $borderblue;
  background-color: $white;
}

.focused .form-control {
  border-color: $borderblue;
}

.header {
  position: relative;
}

.input-group {
  transition: all .15s ease;
  border-radius: .375rem;
  box-shadow: none;
}

.input-group .form-control {
  box-shadow: none;
}

.input-group .form-control:not(:first-child) {
  padding-left: 0;
  border-left: 0;
}

.input-group .form-control:not(:last-child) {
  padding-right: 0;
  border-right: 0;
}

.input-group .form-control:focus {
  box-shadow: none;
}

.input-group-text {
  transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}

.input-group-alternative {
  transition: box-shadow .15s ease;
  border: 0;
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 $almostblack;
}

.input-group-alternative .form-control,
.input-group-alternative .input-group-text {
  border: 0;
  box-shadow: none;
}

.focused .input-group-alternative {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px $almostblack !important;
}

.focused .input-group {
  box-shadow: none;
}

.focused .input-group-text {
  color: $lightblue;
  border-color: $borderblue;
  background-color:$white;
}

.focused .form-control {
  border-color: $borderblue;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .15s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  .mask {
    transition: none;
  }
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

.description {
  font-size: .875rem;
}

.heading {
  font-size: .95rem;
  font-weight: 600;
  letter-spacing: .025em;
  text-transform: uppercase;
}

.heading-small {
  font-size: .75rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  letter-spacing: .04em;
  text-transform: uppercase;
}

.display-2 span {
  font-weight: 300;
  display: block;
}

@media (max-width: 768px) {
  .btn {
    margin-bottom: 10px;
  }

  .col-md-10 {
    margin-left: 1.5rem;
  }
}

.alert {
  color: $red;
  margin-bottom: 30px;
  font-weight: bold;
}

#btn-validate {
  border: none;
  margin-top: 30px !important;
  color: $white;
  font-weight: 500;
  padding: 20px 30px;
  font-size: 20px;
  background: linear-gradient(90deg, rgba(61, 72, 219, 1) 10%, rgba(255, 86, 212, 1) 100%);
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

#btn-validate:disabled {
  background: $lightergrey;
}


#btn-subscribe {
  border: none;
  margin-top: 30px !important;
  color: $white;
  font-weight: 500;
  padding: 20px 30px;
  font-size: 20px;
  background: linear-gradient(90deg, rgba(61, 72, 219, 1) 10%, rgba(255, 86, 212, 1) 100%);
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

#btn-historic {
  border: none;
  margin-top: 30px !important;
  color: $white;
  font-weight: 500;
  padding: 20px 30px;
  font-size: 20px;
  background: linear-gradient(90deg, rgba(61, 72, 219, 1) 10%, rgba(255, 86, 212, 1) 100%);
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

#btn-historical {
  border: none;
  margin-top: 30px !important;
  color: $white;
  font-weight: 500;
  padding: 10px 30px;
  font-size: 15px;
  background: linear-gradient(90deg, rgba(61, 72, 219, 1) 10%, rgba(255, 86, 212, 1) 100%);
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

#statutValid{
  color: $valid !important;
  font-weight: bold;
}

#statutRefuse {
  color: $error !important;
  font-weight: bold;
}

#statutManqueInfo {
  color: $waiting !important;
  font-weight: bold;
}

#statutEnAtttente {
  color: $waiting !important;
  font-weight: bold;
}