<div class="container">
    <div class="page first-page">
        <div class="accueil">
            <div class="phrase-accroche">
                Téléconsultez maintenant, sans RDV, avec un psychologue depuis chez vous.
            </div>
            <button class="btn-teleconsulter" [routerLink]='isLoggedIn ? ["/visio-room"] : ["/paiement"]'>
                JE TÉLÉCONSULTE MAINTENANT
            </button>
        </div>

        <img class="img-accueil" src="../../../assets/image_accueil.png" />
    </div>
    <div class="page second-page">
        <div class="page-header">
            <div class="titre">Un psychologue, pour quoi faire ?</div>
            <div class="phrase">Nos psychologues sont formés pour répondre à chaque situation que vous rencontrez.</div>
        </div>
        <div class="why-section orange">
            <div class="header-section">
                <div class="icon">
                    <i class="fas fa-smile orange"></i>
                </div>
                <div class="title">
                    Bien-être, Mieux-être
                </div>

            </div>
            <div class="desc-header">
                Nos psychologues peuvent vous aider à façonner vos perspectives pour trouver où retrouver de la
                satisfaction chaque jour.
            </div>
            <div class="container-btn-teleconsulter">
                <a [routerLink]='isLoggedIn ? ["/visio-room"] : ["/paiement"]'>
                    <div class="btn-teleconsulter">
                        JE TÉLÉCONSULTE
                    </div>
                </a>
            </div>
        </div>
        <div class="why-section red">
            <div class="header-section">
                <div class="icon"><i class="fas fa-heart red"></i></div>
                <div class="title">
                    Relations, couple...
                </div>
            </div>
            <div class="desc-header">
                Trouvez de l'aide pour créer ou entretenir une relation. Nos psychologues vous accompagnent pour vivre la relation de manière stable.
            </div>
            <div class="container-btn-teleconsulter">
                <a [routerLink]='isLoggedIn ? ["/visio-room"] : ["/paiement"]'>
                    <div class="btn-teleconsulter">
                        JE TÉLÉCONSULTE
                    </div>
                </a>
            </div>
        </div>
        <div class="why-section purple">
            <div class="header-section">
                <div class="icon">
                    <i class="fas fa-first-aid purple"></i>
                </div>
                <div class="title">
                    Problèmes de santé
                </div>

            </div>
            <div class="desc-header">
                Lorsque vous ou vos proches tombez malades, vous avez parfois besoin d'un peu d'aide pour faire face.
            </div>
            <div class="container-btn-teleconsulter">
                <a [routerLink]='isLoggedIn ? ["/visio-room"] : ["/paiement"]'>
                    <div class="btn-teleconsulter">
                        JE TÉLÉCONSULTE
                    </div>
                </a>
            </div>
        </div>
        <div class="why-section green">
            <div class="header-section">
                <div class="icon">
                    <i class="far fa-credit-card green"></i>
                </div>
                <div class="title">
                    Problèmes financiers
                </div>
            </div>
            <div class="desc-header">
                Les problèmes financiers peuvent facilement déchirer les familles. Nos psychologues peuvent vous aider à naviguer sur ce terrain émotionnel délicat.
            </div>
            <div class="container-btn-teleconsulter">
                <a [routerLink]='isLoggedIn ? ["/visio-room"] : ["/paiement"]'>
                    <div class="btn-teleconsulter">
                        JE TÉLÉCONSULTE
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="page third-page">
        <i class="fas fa-arrow-alt-circle-left arrow-left"></i>

        <div class="gold-book">
            <img class="img-gold-book" src="../../../assets/girl-gold-book.png" alt="pic-golden-book" />
            <div class="temoignage">
                <div class="texte-temoignage">
                    Entre l'éducation des enfants et une carrière difficile, presque tous les parents qui travaillent
                    devraient pouvoir compter sur un petit coup de pouce supplémentaire.
                    Psychologue.chat m'aide à prendre de meilleures décisions et à les affronter avec plus d'énergie au
                    moment où j'en ai besoin.
                </div>
                <div class="desc-personne">
                    <span class="nom-prenom">Marie Martin </span>
                    <span class="metier">(Agent immobilier)</span>
                </div>
                <i class="fas fa-quote-right"></i>
                <i class="fas fa-quote-left"></i>
            </div>
        </div>

        <i class="fas fa-arrow-alt-circle-right arrow-right"></i>
    </div>

    <div class="page fourth-page">
        <div class="section">
            <div class="titre">Un psychologue qu'est ce que c'est ?</div>
            <div class="desc-section">Nos psychologues ont tous suivi une formation niveau <span class="semi-bold">BAC
                    +5
                    années d'études. Ils
                    ont validé un diplôme de psychologie clinique de niveau MASTER 2.</span> Ils interviennent avec pour
                objectif
                de préserver, maintenir ou améliorer le bien-être, l'état psychique, affectif ou cognitif ou encore la
                qualité de vie de l'individu et sa santé psychique. La psychologie permet également de développer son autonomie mentale,
                ses capacités ou favoriser son intégration sociale.</div>
            <i class="fas fa-graduation-cap icon"></i>
            <div class="container-btn-teleconsulter">
                <a [routerLink]='isLoggedIn ? ["/visio-room"] : ["/paiement"]'>
                    <div class="btn-teleconsulter">
                        JE TÉLÉCONSULTE
                    </div>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="titre">Quelle prestation ? Quel prix ?</div>
            <div class="desc-section">
                Chaque consultation dure entre <span class="bold">45 min et 1 heure.</span>
                Le prix est fixé à <span class="bold">80€ TTC</span>.
                La consultation s'effectue sans RDV. Les practiciens connectés en ligne vous répondent.
            </div>
            <i class="fas fa-money-bill-alt icon"></i>
            <div class="container-btn-teleconsulter">
                <a [routerLink]='isLoggedIn ? ["/visio-room"] : ["/paiement"]'>
                    <div class="btn-teleconsulter">
                        JE TÉLÉCONSULTE
                    </div>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="titre">Les mutuelles qui prennent en charge</div>
            <div class="desc-section">
                Certaines mutuelles prennent en charge la psychologie. Renseignez vous pour connaître les modalités des prestations remboursées.
            </div>
            <div class="logo-mutuelles">
                <img class="logo mutuelle-generale" src="../../../assets/mutuelle_generale_logo.png" />
                <img class="logo mgen" src="../../../assets/mgen_logo.png" />
                <img class="logo aesio" src="../../../assets/aesio_logo.png" />
                <img class="logo harmonie-mutuelle" src="../../../assets/harmonie_mutuelle_logo.png" />
            </div>
            <i class="fas fa-hand-holding-usd icon"></i>
            <div class="container-btn-teleconsulter">
                <a [routerLink]='isLoggedIn ? ["/visio-room"] : ["/paiement"]'>
                    <div class="btn-teleconsulter">
                        JE TÉLÉCONSULTE
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>