@import "../../../variables/colors.scss";

@media screen and (max-width: 1400px) {
  .card {
      border-image: none !important;
  }
}

.wrapper-card {
    display: flex;
    margin: 40px auto;
    width: 75%;
}
.black-title {
  color: $black !important;
}
.card {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    flex: 1;
    margin: 8px;
    padding: 30px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
    border: 2px solid;
    border-image: linear-gradient(45deg, rgba(61, 72, 219), rgba(255, 86, 212)) 0.5;

    &.popular {
        margin-top: -10px;
        margin-bottom: -10px; 
        .card-title {
            h3 {
              background: -webkit-linear-gradient(rgba(255, 86, 212), rgba(61, 72, 219));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 22px;
            }
        }
        .card-price {
            margin: 50px;
            h1 {
              color: $lightpurple;
              font-size: 60px;
            }
        }
        .card-action {
            button {
                background: linear-gradient(90deg, rgb(61, 72, 219) 10%, rgba(255, 86, 212, 1) 100%);
                border-radius: 80px;
                color: #fff;
                font-size: 17px;
                margin-top: -15px;
                padding: 15px;
                height: 80px;
                border: 0px solid $lightpurple;
                &:hover {
                    background-color: darken($lightpurple,7);
                    font-size: 23px;
                }
            }
        }
    }
    &:hover {
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }
}
.card-ribbon {
    position: absolute;
    overflow: hidden;
    top: -10px;
    left: -10px;
    width: 114px;
    height: 112px;
    span {
        position: absolute;
        display: block;
        width: 160px;
        padding: 10px 0;
        background: linear-gradient(90deg, rgb(61, 72, 219) 10%, rgba(255, 86, 212, 1) 100%);
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        left: -35px;
        top: 25px;
        transform: rotate(-45deg);
    }
}

.card-title {
    h3 {
        color: rgba(0,0,0,0.3);
        font-size: 15px;
        text-transform: uppercase;
      height: 50px;
    }
    h4 {
      height: 100px;
        color: rgba(0,0,0,0.6);
    }
}
.card-price {
    margin: 60px 0;
    h1 {
        font-size: 46px;
        sup{
            font-size: 15px;
            display: inline-block;
            margin-left: -20px;
            width: 10px;
        }
        small {
            color: rgba(0,0,0,0.3);
            display: block;
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}
.card-description {
  height: 140px;
    ul {
        display: block;
        list-style: none;
        margin: 60px 0;
        padding: 0;
    }
    li {
        color: rgba(0,0,0,0.6);
        font-size: 15px;
        margin: 0 0 15px;
        &::before {
            font-family: FontAwesome;
            padding: 0 5px 0 0;
            color: rgba(0,0,0,0.15);
        }
    }
}
.card-action {
    button {
      margin-top: 20px;
        background: transparent;
        border: 2px solid $lightpurple;
        border-radius: 30px;
        color: $lightpurple;
        cursor: pointer;
        display: block;
        font-size: 15px;
        font-weight: bold;
        padding: 20px;
        width: 100%;
        height: 60px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $lightpurple;
            box-shadow: 0 2px 4px darken($lightpurple,20);
            color: #fff;
            font-size: 17px;
        }
    }
}

.fa-euro-sign{
  font-size: 20px;
}

@media screen and (max-width: 1260px) {
 .card{
  &.popular{
    .card-price {
      margin: 0;
    }
    .card-action{
      button {
        &:hover {
            font-size: 12px;
        }
    }
    }
  }
 } 
}

@media screen and (max-width: 1177px) {
  .wrapper-card {
    width: auto;
  }
  .card{
   &.popular{
     .card-action {
       button {
         margin-top: 30px;
         font-size: 10px;
         height: 50px;
       }
     }
   }
   .card-action {
      button {
        padding: 15px;
        font-size: 10px;
        height: 50px;
      }
    } 
  }
}

@media screen and (max-width: 715px) {
  .wrapper-card {
    display: table;
    padding: 0 0 0 0;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    }
  .card{
    width: auto;
    margin-bottom: 20px;
    &.popular{
      margin-bottom: 10px;
    }
  }
}



@import "../../../variables/colors.scss";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
  
  $primary-color: #6C7A89;
  $secondary-color: #00b894;
  $decor-color: #BDC3C7;
  $font: "proxima-nova", sans-serif;

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    font-family: $font;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary-color;
    &:focus{
      outline: none;
    }
  }
  
  body{
    background-color: #e2fbf5;
  }
  
  #wrapper{
    top: 50%;
    width: 100%;
    padding-top: 300px;
  }
  
  .container{
    display: flex;
    margin: 0 auto;
    margin-top: -250px;
    width: 1000px;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
    @include border-radius(15px);
    border: $purple 2px solid;
  }
  
  .info{
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 50px;
    padding: 0 0 70px 30px;
    #product{
      width: 300px;
      margin: 50px 0 0 0;
    }
    p{
      width: 100%;
      text-align: center;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 500;
    }
    #price{
      width: 50%;
      margin: 0 auto;
      letter-spacing: 1px;
      h2{
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: #000;
        padding-top: 10px;
      }
    }
  }
  
  .payment{
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100px;
    height: 550px;
    padding: 100px 50px 0 0;
  }
  
  #checkout{
    width: 80%;
    .expirationandcvc{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .expcontainer, .cvccontainer{
        width: 45%;
        display: flex;
        flex-direction: column;
      }
    }
    input{
      margin-bottom: 15px;
    }
    label{
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 0.6em;
      padding: 0 0 5px 10px;
    }
    .card{
      width: 29%;
      margin: 0 10% 25px 10%;
      border: none;
      background: none;
      height: 50px;
      cursor: pointer;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:focus{
        -webkit-filter: none;
        filter: none;
      }
    }
    #visa{
      background-image: url("http://enwaara.se/codepen/visa.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    #mastercard{
      background-image: url("http://enwaara.se/codepen/mastercard.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    #cardnumber, #cardholder, #cardemail, #cvc{
      width: 100%;
      background: none;
      border: $purple 1px solid;
      padding: 8px 19px;
      border-radius: 15px;
      letter-spacing: 1px;
      &:focus {
        border: 1px solid $secondary-color;
      }
    }
    ::-webkit-input-placeholder {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 0.9em;
      color: $decor-color;
    }
    #cardnumber{
      letter-spacing: 3px;
      &::-webkit-input-placeholder {
        font-size: 1em;
      }
    }
    #left{
      border: $purple 1px solid;
      border-radius: 15px;
      overflow: hidden;
      padding: 5px 10px;
      float: left;
      margin-bottom: 15px;
      #month, #year{
        background: none;
        border: none;
        width: 45%;
        padding: 5px;
        float: left;
        font-size: 0.8em;
        letter-spacing: 3px;
        color: $decor-color;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        option{
          background: #ECECEC;
        }
      }
      p{
        float: left;
        padding-top: 2px;
        font-size: 1.2em;
        color: $decor-color;
        letter-spacing: 3px;
      }
    }
    .btn{
      background: linear-gradient(90deg, $bluebutton 10%, $pinkbutton 100%);
      border: none;
      width: 100%;
      padding: 12px 10px 10px 10px;
      border-radius: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #ECECEC;
      cursor: pointer;
      &:hover{
        background: #16A085;
      }
    }
  }
  @media screen and (max-width: 999px) {
        .container{
            width: auto;
            display: flex;
            flex-direction: column;
        }
        .info{
            flex-flow: column wrap;
            width: auto;
            align-items: center;
            padding: 0 0 0 0;
            #product{
              width: 500px;
              margin: 0 0 0 0;
            }
            p{
              width: auto;
              text-align: center;
              line-height: 1.5em;
              letter-spacing: 1px;
            }
            #price{
              width: auto;
              margin: 0 auto;
              letter-spacing: 1px;
              h2{
                width: auto;
                text-align: center;
                font-weight: 700;
                color: #000;
                padding-top: 10px;
              }
            }
        }
        .payment{
          flex-flow: column wrap;
          align-items: center;
          padding: 0 0 0 0;
          width: auto;
      }
}

@media screen and (max-width: 499px) {

  .info{
      #product{
        width: 300px;
      }
  }
  .payment{
      flex-flow: column wrap;
      width: auto;
  }
}

@media screen and (max-width: 299px) {

  .info{
      #product{
        width: 200px;
      }
  }
  .payment{
      flex-flow: column wrap;
      width: auto;
  }
}