
<div class="wrapper-card">
    <div class="card">
        <div class="card-title">
            <h3 class="black-title">Abonnement Mensuel</h3>
            <h4>Offre de lancement:<br>10€/an au lieu de 20€/an jusqu'au 29/09/21.</h4>
        </div>
        <div class="card-price">
            <h1>
                10
                <i class="fas fa-euro-sign"></i>
                <small>par mois</small>
            </h1>
        </div>
        <div class="card-description">
            <ul>
                <li>Abonnement de 30 jours renouvelable</li>
                <li>Téléconsultation illimitées</li>
                <li>Historique des consultations</li>
            </ul>
        </div>
        <div class="card-action">
            <button type="button" (click)="abo(1)">S'abonner 1 mois</button>
        </div>
    </div>
    <div class="card popular">
        <div class="card-ribbon">
            <span>plus populaire</span>
        </div>
        <div class="card-title">
            <h3>Abonnement Annuel</h3>
            <h4>Offre de lancement:<br>100€/an au lieu de 200€/an jusqu'au 29/09/21.</h4>
        </div>
        <div class="card-price">
            <h1>
                
                100
                <i class="fas fa-euro-sign"></i>
                <small>par an</small>
            </h1>
        </div>
        <div class="card-description">
            <ul>
                <li>Abonnement d'un an renouvelable</li>
                <li>Téléconsultation illimitées</li>
                <li>Historique des consultations</li>
            </ul>
        </div>
        <div class="card-action">
            <button type="button" (click)="abo(2)">S'abonner 1 an</button>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h3 class="black-title">Abonnement à Vie</h3>
            <h4>Offre de lancement:<br>Profitez de nos services à vie en souscrivant avant le 29/09/21.</h4>
        </div>
        <div class="card-price">
            <h1>
                550
                <i class="fas fa-euro-sign"></i>
                <small>à vie</small>
            </h1>
        </div>
        <div class="card-description">
            <ul>
                <li>Téléconsultation illimitées</li>
                <li>Historique des consultations</li>
                <li><br></li>
            </ul>
        </div>
        <div class="card-action">
            <button type="button" (click)="abo(3)">S'abonner à vie</button>
        </div>

    </div>
</div>
