/* RED */
$red: #E71D36;

/* GREY/BLACK */
$grey: #777;
$lightgrey: #b4b4b4;
$lightergrey: #ececec;
$verylightgrey: #f4f5f9;
$mostlightgrey: #f7fafc;

/* GREEN */
$green: #5CAB7D;
$lightgreen: #67D5B5;

/* PURPLE PINK */
$purple: #6C49B8;
$lightpurple: #8c4ed9;
$lighterpurple: #8b6fc7;
$pink: #fe56d4;
$lightpink: #ff8ae2;
$pinkbutton: rgba(255, 86, 212, 1);


/* ORANGE */
$orange: #ff5f2e;

/* BLUE */
$bluebutton: rgba(61, 72, 219, 1);
$clearblue: #00b9f1;
$bluedark: #4F86C6;
$lightblue: #adb5bd;
$bluedark2: #32325d;
$borderblue: rgba(50, 151, 211, .25);

/* WHITE */
$white: #fff;

/* BLACK */
$almostblack: rgba(0, 0, 0, .02);
$black: #000;

/* PROFILE STATE */
$valid:  #1AF508;
$waiting: #FFA233;
$error: #F50808;
