@import "../../../variables/colors.scss";

.container{
    width: auto;
    padding: 10px 100px 0 100px;
    align-items: center;
    .nb_consultation{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 20px;
        padding-top: 20px;
        color: $purple;
        border-radius: 25px;
        border: 3px solid $purple;
    }
    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        background: $purple;
        .row:nth-child(2n+2){
            font-weight: bold;
            color: $purple;

        }
    }
    .styled-table th{
        padding: 12px 15px;
        color: whitesmoke;
        text-align: left;
    }
    .styled-table td {
        padding: 12px 15px;
        min-width: 100px;
    }
    .styled-table tbody{
        background: white;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .styled-table tbody tr:last-of-type {
        border-bottom: 3px solid $purple;
    }
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: $purple;
    }
    .footer{
        width: 100%;
        padding-bottom: 50px;
        color: white;
        text-align: center;
        .btn-telecharger_pdf {
            border: none;
            margin-top: 30px;
            margin-bottom: 30px;
            margin: 0 10px 0 10px;
            color: white;
            font-weight: 500;
            padding: 10px 30px;
            font-size: 22px;
            background: $red;
            border-radius: 5px;
            .fa-file-pdf{
                font-size: 30px;
            }
        }
        .space{
            display: none;
            height: 5px;
        }
        .btn-telecharger_csv {
            border: none;
            margin-top: 30px;
            margin: 0 10px 0 10px;
            color: white;
            font-weight: 500;
            padding: 10px 31px;
            font-size: 22px;
            background: $green;
            border-radius: 5px;
            .fa-file-csv{
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .container{
        .footer{
            .space{
                display:flex;
                height: 5px;
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .container{
        padding: 10px 10px 0 10px;
    }
}

@media screen and (max-width: 420px) {
    .container{
        width: auto;
        padding: 10px 0 0 0;
        .styled-table {
            min-width: 0;
        }
        .styled-table th{
            padding: 12px;
        }
        .styled-table td {
            padding: 12px;
            min-width: 0;
        }
    }
}