<div class="container" >
    <div class="nb_consultation">
        {{this.consultations.length}} {{this.messageConsultation}}
    </div>
    <div id="pdfTable" #pdfTable>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Durée</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor="let consultation of consultations">
                    <td>{{consultation.date | date:'dd/MM/yyyy'}}</td>
                    <td>{{consultation.date | date:'hh:mm'}}</td>
                    <td>{{consultation.duree}}</td>
                </tr>
<!-- 
                <tr class="active-row">
                    <td>05/01/21</td>
                    <td>09:20</td>
                    <td>30 minutes</td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="footer">
        <button class="btn-telecharger_pdf" (click)="openPDF()">
            <i class="fas fa-file-pdf"></i>
            Télécharger le PDF
        </button>
    <div class="space"> </div>
        <button class="btn-telecharger_csv" (click)="exportToCsv()">
            <i class="fas fa-file-csv"></i>
            Télécharger le CSV
        </button>
    </div>
</div>
