/* You can add global styles to this file, and also import other style files */
@import 'variables/fonts.scss';
@import 'variables/colors.scss';

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
* {
  font-family: "Montserrat", sans-serif;
}

html, body { height: 100%; }
body {
    font-size: 14px;
    color: #333;
    background-color: white;
    margin: 0;
  }

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.strong-bold {
  font-weight: 700;
}

.input-error-msg {
  color: $red;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.lien-perso {
  text-decoration: underline;
}
