<div id="wrapper">
  <div class="container">

    <div class="info">

      <img id="product" src="../../../../assets/video.png" />

      <p>1 Séance</p>
      <p>45 Minutes</p>

      <div id="price">

        <h2>80 €</h2>

      </div>
    </div>

    <div class="payment">

      <form id="checkout" (ngSubmit)="onSubmit()">

        <label>Email</label>
        <input id="cardemail" type="text" name="name" requierd="true" maxlength="50" placeholder="Email">

        <label>Nom du titulaire de la carte</label>
        <input id="cardholder" type="text" name="name" requierd="true" maxlength="50" placeholder="Nom Prénom">

        <label>Numéro de carte</label>
        <input id="cardnumber" type=text pattern="[0-9]{13,16}" name="cardnumber" requierd="true"
          placeholder="0123-4567-8901-2345">

        <div class="expirationandcvc">
          <div class="expcontainer">
            <label>Date d'expiration</label>
            <div id="left">
              <select name="month" id="month" onchange="" size="1">
                <option value="00">MM</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <p>/</p>
              <select name="year" id="year" onchange="" size="1">
                <option value="00">YY</option>
                <option value="01">21</option>
                <option value="02">22</option>
                <option value="03">23</option>
                <option value="04">24</option>
                <option value="05">25</option>
                <option value="06">26</option>
                <option value="07">27</option>
                <option value="08">28</option>
                <option value="09">29</option>
                <option value="10">30</option>
              </select>
            </div>
          </div>
            <div class="cvccontainer">
              <label id="cvc-label">Cryptogramme Visuel</label>
              <input id="cvc" type="text" placeholder="CVC/CVV" maxlength="3" />
            </div>
        </div>
        <button class="btn" type="submit" name="purchase">Payer</button>
      </form>
    </div>
  </div>
</div>