@import "../../../variables/colors.scss";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
  
  $primary-color: #6C7A89;
  $secondary-color: #00b894;
  $decor-color: #BDC3C7;
  $font: "proxima-nova", sans-serif;

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    font-family: $font;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary-color;
    &:focus{
      outline: none;
    }
  }
  
  body{
    background-color: #e2fbf5;
  }
  
  #wrapper{
    top: 50%;
    width: 100%;
    padding-top: 300px;
  }
  
  .container{
    display: flex;
    margin: 0 auto;
    margin-top: -250px;
    width: 1000px;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
    @include border-radius(15px);
    border: $purple 2px solid;
  }
  
  .info{
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 50px;
    padding: 0 0 70px 30px;
    #product{
      width: 300px;
      margin: 50px 0 0 0;
    }
    p{
      width: 100%;
      text-align: center;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 500;
    }
    #price{
      width: 50%;
      margin: 0 auto;
      letter-spacing: 1px;
      h2{
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: #000;
        padding-top: 10px;
      }
    }
  }
  
  .payment{
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100px;
    height: 550px;
    padding: 100px 50px 0 0;
  }
  
  #checkout{
    width: 80%;
    .expirationandcvc{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .expcontainer, .cvccontainer{
        width: 45%;
        display: flex;
        flex-direction: column;
      }
    }
    input{
      margin-bottom: 15px;
    }
    label{
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 0.6em;
      padding: 0 0 5px 10px;
    }
    .card{
      width: 29%;
      margin: 0 10% 25px 10%;
      border: none;
      background: none;
      height: 50px;
      cursor: pointer;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:focus{
        -webkit-filter: none;
        filter: none;
      }
    }
    #cardnumber, #cardholder, #cardemail, #cvc{
      width: 100%;
      background: none;
      border: $purple 1px solid;
      padding: 8px 19px;
      border-radius: 15px;
      letter-spacing: 1px;
      &:focus {
        border: 1px solid $secondary-color;
      }
    }
    ::-webkit-input-placeholder {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 0.9em;
      color: $decor-color;
    }
    #cardnumber{
      letter-spacing: 3px;
      &::-webkit-input-placeholder {
        font-size: 1em;
      }
    }
    #left{
      border: $purple 1px solid;
      border-radius: 15px;
      overflow: hidden;
      padding: 5px 10px;
      float: left;
      margin-bottom: 15px;
      #month, #year{
        background: none;
        border: none;
        width: 45%;
        padding: 5px;
        float: left;
        font-size: 0.8em;
        letter-spacing: 3px;
        color: $decor-color;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        option{
          background: #ECECEC;
        }
      }
      p{
        float: left;
        padding-top: 2px;
        font-size: 1.2em;
        color: $decor-color;
        letter-spacing: 3px;
      }
    }
    .btn{
      background: linear-gradient(90deg, $bluebutton 10%, $pinkbutton 100%);
      border: none;
      width: 100%;
      padding: 12px 10px 10px 10px;
      border-radius: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #ECECEC;
      cursor: pointer;
      &:hover{
        background: #16A085;
      }
    }
  }
  @media screen and (max-width: 999px) {
        .container{
            width: auto;
            display: flex;
            flex-direction: column;
        }
        .info{
            flex-flow: column wrap;
            width: auto;
            align-items: center;
            padding: 0 0 0 0;
            #product{
              width: 500px;
              margin: 0 0 0 0;
            }
            p{
              width: auto;
              text-align: center;
              line-height: 1.5em;
              letter-spacing: 1px;
            }
            #price{
              width: auto;
              margin: 0 auto;
              letter-spacing: 1px;
              h2{
                width: auto;
                text-align: center;
                font-weight: 700;
                color: #000;
                padding-top: 10px;
              }
            }
        }
        .payment{
          flex-flow: column wrap;
          align-items: center;
          padding: 0 0 0 0;
          width: auto;
      }
}

@media screen and (max-width: 499px) {

  .info{
      #product{
        width: 300px;
      }
  }
  .payment{
      flex-flow: column wrap;
      width: auto;
  }
}

@media screen and (max-width: 299px) {

  .info{
      #product{
        width: 200px;
      }
  }
  .payment{
      flex-flow: column wrap;
      width: auto;
  }
}