@import "../../../variables/variables.scss";
@import "../../../variables/colors.scss";

:host {
    width: 100%;
}

.container {
    display: flex;
    margin-top: 20px;

    .nav-menu {
        margin: 0 20px;
    }

    .nav-main {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        margin: 0 20px 20px 0; 
    }
}