@import "../../../variables/variables.scss";
@import "../../../variables/colors.scss";

.container {
    height: calc(100vh - #{$header-height});
    display: flex;
    justify-content: center;

    .box {
        border-radius: 5px;
        width: 500px;
        padding: 15px;

        .section {
            box-shadow: 0px 0px 10px rgba(68, 49, 49, 0.3);
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 5px;

            .error-wrong-login {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 10px 10px 10px 0;
                border: 1px solid $red;
                border-radius: 5px;
                margin-top: 10px;

                .icon-error-wrong-login {
                    font-size: 30px;
                    color: $red;
                    width: 100px;
                }
            }

            .titre {
                font-size: 16px;
                text-align: center;

                &.non-inscrit {
                    margin-top: 15px;
                }
            }

            .link-sinscrire {
                margin: 15px 0 10px 0;
                text-align: center;
                font-weight: 700;
                font-size: 22px;
                color: $grey;
                cursor: pointer;
                text-decoration: underline;
            }

            .form-connexion {
                width: 100%;
                display: flex;
                flex-direction: column;

                .label {
                    display: flex;
                    flex-direction: column;

                    .input-connexion {
                        margin-top: 15px;
                        padding: 10px;
                        border: 1px solid $lightgrey;
                        border-radius: 5px;
                    }
                }

                .btn-submit-connexion {
                    border: none;
                    color: white;
                    font-weight: 700;
                    padding: 10px 15px;
                    font-size: 16px;
                    background: rgb(61, 72, 219);
                    background: linear-gradient(90deg, rgb(61, 72, 219) 10%, rgba(255, 86, 212, 1) 100%);
                    box-shadow: 0px 0px 10px rgba(68, 49, 49, 0.3);
                    border-radius: 5px;
                    cursor: pointer;

                    &.passwordForgotten {
                        margin-top: 10px;
                    }
                }

                .disabledBtn {
                    opacity: 0.5;
                }

                .mdp-oublie {
                    color: $grey;
                    font-size: 13px;
                    align-self: flex-end;
                    margin: 4px 0 10px 0;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
