<div class="container">
    <div *ngIf="!asForgotPassword" class="box">
        <div class="section">
            <div class="titre">
                J'ai déjà un compte <span class="bold">Psychologue.chat</span>
            </div>

            <div *ngIf="showWrongLoginAlert" class="error-wrong-login">
                <i class="fas fa-times-circle icon-error-wrong-login"></i>
                <div>Une erreur s'est produite. Vérifiez si vous avez rentré correctement vos identifiants.</div>
            </div>

            <form [formGroup]="connexionForm" class="form-connexion" (ngSubmit)="onSubmit()">
                <label class="label">
                    <input class="input-connexion" type="text" formControlName="email" placeholder="Adresse email" />
                </label>
                <div class="input-error-msg" *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
                    Veuillez renseigner une adresse email valide.
                </div>
                <div class="input-error-msg" *ngIf="connexionForm.hasError('required')">
                    L'email est <span class="bold">requis.</span>
                </div>
                <label class="label">
                    <input class="input-connexion" type="password" formControlName="password"
                        placeholder="Mot de passe" />
                </label>
                <div class="mdp-oublie" (click)="asForgotPassword=true">Mot de passe oublié ?</div>

                <button class="btn-submit-connexion" type="submit" [disabled]="!connexionForm.valid"
                    [class.disabledBtn]="!connexionForm.valid">SE CONNECTER</button>
            </form>
        </div>
        <div class="section">
            <div class="titre non-inscrit">
                Je ne suis pas encore inscris sur <span class="bold">Psychologue.chat</span>
            </div>
            <div class="link-sinscrire" [routerLink]='["/register"]'>S'INSCRIRE</div>
        </div>
    </div>
    <div *ngIf="asForgotPassword" class="box">
        <div class="section">
            <div class="retour" (click)="asForgotPassword=false" [routerLink]='["/login"]'>
                <i class="fas fa-arrow-left"></i> Revenir sur la page de connexion
            </div>    
            <div class="titre">
                Mot de passe oublié <span class="bold">Psychologue.chat</span>
            </div>

            <form [formGroup]="passwordForm" class="form-connexion" (ngSubmit)="onSubmitPassword()">
                <label class="label">
                    <input class="input-connexion" type="text" formControlName="email" placeholder="Adresse email" />
                </label>
                <div class="input-error-msg" *ngIf="p.email.hasError('email') && !p.email.hasError('required')">
                    Veuillez renseigner une adresse email valide.
                </div>
                <div class="input-error-msg" *ngIf="passwordForm.hasError('required')">
                    L'email est <span class="bold">requis.</span>
                </div>
                <button class="btn-submit-connexion passwordForgotten" type="submit" [disabled]="!passwordForm.valid"
                    [class.disabledBtn]="!passwordForm.valid">ENVOYER UN EMAIL</button>
            </form>
        </div>
    </div>
</div>